<h1>New Book</h1>

<form action="/upload" enctype="multipart/form-data" method="post" accept-charset="utf-8">
  <p>
    <input type="file" name="book[file]"/>
  </p>
  <p>
    <input type="submit" value="Submit" name="" id=""/>
  </p>
</form>
