 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="/node_modules/jszip/dist/jszip.min.js"></script>
<script src="/node_modules/epubjs/dist/epub.min.js"></script>

<style type="text/css">
    #viewer {
      box-shadow: 0 0 0px #ccc;
      background: white;
    }


    @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 667px) {
      #viewer {
        height: 96.5%;
      }
      #viewer iframe {
        /* pointer-events: none; */
      }
    }
</style>


<body>
  <div id="viewer" class="spreads"></div>
</body>


<script>
var book = ePub("/epubs/1.epub");

var rendition = book.renderTo("viewer", {
  manager: "continuous",
  flow: "paginated",
  width: "100%",
  height: "95%",
  snap: true
});


var displayed = rendition.display();



var keyListener = function(e){
  // Left Key
  if ((e.keyCode || e.which) == 37) {
    rendition.prev();
  }

  // Right Key
  if ((e.keyCode || e.which) == 39) {
    rendition.next();

  }

};

// TODO save position console.log(rendition.location.start);

var once = false
rendition.on("displayed", function() {

  // TODO fetch real position
  var cfi = "epubcfi(/6/10[id85]!/4/2[id3]/102/1:0)";

  if(!once) {
    // rendition.display(cfi)
    once = true;
  }
});

rendition.on("keyup", keyListener);
book.on("keyup", keyListener);
document.addEventListener("keyup", keyListener, false);
</script>
